/* GraphiteUI — DARK tokens (semantic) */
.dark {
    --graphite-background: #242424;
    --graphite-foreground: #FFFFFF;
    --graphite-divider: var(--graphite-primary-10);
    --graphite-focus: var(--graphite-primary-15);
    --graphite-surface1: var(--graphite-primary-10);
    --graphite-surface1-foreground: var(--graphite-primary-foreground);
    --graphite-surface2: #3A3A3A;
    --graphite-surface2-foreground: #F0F0F0;
    /* Primary */
    --graphite-primary: rgba(255,255,255,0.10);
    --graphite-primary-5: rgba(255,255,255,0.05);
    --graphite-primary-10: rgba(255,255,255,0.10);
    --graphite-primary-15: rgba(255,255,255,0.15);
    --graphite-primary-20: rgba(255,255,255,0.20);
    --graphite-primary-30: rgba(255,255,255,0.30);
    --graphite-primary-50: rgba(255,255,255,0.50);
    --graphite-primary-60: rgba(255,255,255,0.60);
    --graphite-primary-70: rgba(255,255,255,0.70);
    --graphite-primary-foreground: #FFFFFF;
    /* Secondary */
    --graphite-secondary: rgba(0,0,0,0.89);
    --graphite-secondary-1: rgba(0,0,0,0.01);
    --graphite-secondary-5: rgba(0,0,0,0.05);
    --graphite-secondary-6: rgba(0,0,0,0.06);
    --graphite-secondary-10: rgba(0,0,0,0.10);
    --graphite-secondary-15: rgba(0,0,0,0.15);
    --graphite-secondary-20: rgba(0,0,0,0.20);
    --graphite-secondary-30: rgba(0,0,0,0.30);
    --graphite-secondary-40: rgba(0,0,0,0.40);
    --graphite-secondary-80: rgba(0,0,0,0.40);
    --graphite-secondary-90: rgba(0,0,0,0.90);
    --graphite-secondary-foreground: #000000;
    /* Success */
    --graphite-success-400: #009F23;
    --graphite-success-500: #2ECE51;
    --graphite-success-600: #00881E;
    --graphite-success: var(--graphite-success-500);
    --graphite-success-foreground: #04170A;
    /* Warning */
    --graphite-warning-400: #D9AF20;
    --graphite-warning-500: #FFD234;
    --graphite-warning-600: #CBA112;
    --graphite-warning: var(--graphite-warning-500);
    --graphite-warning-foreground: #2A1D00;
    /* Danger */
    --graphite-danger-400: #FF1515;
    --graphite-danger-500: #BB2200;
    --graphite-danger-600: #9F0000;
    --graphite-danger: var(--graphite-danger-500);
    --graphite-danger-foreground: #FFFFFF;
    /* INFO */
    --graphite-info-400: #3385FF;
    --graphite-info-500: #0066FF;
    --graphite-info: var(--graphite-info-500);
    --graphite-info-foreground: #FFFFFF;
    /* Shadows */
    --graphite-shadow-xs: 0 0 2px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.14);
    --graphite-shadow-sm: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.14);
    --graphite-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --graphite-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --graphite-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --graphite-shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
